[submodule "Documentation/wiki"]
	path = Documentation/wiki
	url = git@github.com:lis-epfl/maveric.wiki.git
[submodule "Documentation/html"]
	path = Documentation/html
	url = git@github.com:lis-epfl/maveric.git
