[submodule "libs/mavlink/include"]
	path = libs/mavlink/include
	url = https://github.com/lis-epfl/mavlink_headers.git
[submodule "libs/FatFs"]
	path = libs/FatFs
	url = https://github.com/lis-epfl/FatFs.git
